/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color : rgb(15 116 143 / 70%);
}
/* End Variables */
/* Start Global Rules  */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
/* small screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium  screen */
@media (min-width:992px) {
    .container {
        width:970px;
    }
}
/* large screen */
@media (min-width:1200px) {
    .container {
        width:1170px;
    }
}

/* End Global Rules  */
/* Start Component */
.services .title {
    text-align: center;
    padding-top:80px;
}
.services .title h3 {
    font-size: 40px;
    line-height: 46px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-transform:uppercase;

}
.services .title h3::before{
    content: "";
    position: absolute;
    width: 15px;
    height:15px;
    border: 2px solid black;
    border-radius: 50%;
    left:50%;
    bottom:-50px;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1;
}
.services .title h3::after{
    content: "";
    height:2px;
    width: 120px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom:-42px;
    transform: translateX(-50%);
    
}
.services .title p {
    padding-top:100px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto; 
    line-height: 30px;
    color: #777777;

}

/* End Component */
/* Start header  */
header {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 96px;

}
header .container::after {
    content: "";
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    left: 15px;
}
header .container .logo img {
    height: 40px;

}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav ul {
    display: flex;
}
header .container nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header .container nav a.active,
header .container nav a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    right:0px;
    top: 50%;
    transform: translateY(-50%);
}
header nav .toggle-menu {
    color:white;
    font-size: 25px;
}
@media (min-width:768px){
    header nav .toggle-menu {
        display: none;
    }
}
@media (max-width:767px) {
    header .container nav ul {
        display:none
    }
    header nav .toggle-menu:hover + ul {
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    }
    header .container nav li a {
        padding: 15px !important;
    }


}
/* End header  */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url("../imgs/Owl-Wallpaper-01-1920x1200-1.jpg");
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
}
.landing .txt {
    position: absolute;
    left: 0px;
    top: 50%;
    padding: 50px;
    width: 50%;
    background-color: var(--transparent-color);
    transform: translateY(-50%);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:767px) {
    .landing .txt {
        width:100%

    }
    .landing .txt .content {
        width:100%

    }
    .landing .change-background {
        display: none;
    }
}
.landing .txt .content {
    max-width: 500px;

}
.landing .txt h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: normal;
    margin-bottom: 20px;
}
.landing .txt p {
    font-size: 14px;
    line-height: 28px;

}
.landing .change-background {
    position:absolute;
    top: 50%;
    transform:translate(-50%);
    color: white;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    bottom:30px;
    transform: translateX(-50%);
    display: flex;

    
}
.landing .bullets li {
    width: 20px;
    height:20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;
    

}
.landing .bullets li.active {
    background-color: var(--main-color);
    border: none;

}
/* End Landing */
/* Start services  */
.services .elements {
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    margin-top:80px;  
}
@media (max-width:991px) {
    .services .elements {
        display:block;
        padding-top: 40px;
    }
    .services .elements .one {
        text-align: center;
        margin-top: 80px;
    }
    .services .elements i {
        padding-left: 55%;
        margin-top: -70px;
    }
    
}
.services .elements .one {
    position: relative;
}
.services .elements .one i {
    position: absolute;
    left:-50px;
    top:0px;
    font-size: 48px;
}
.services .elements .one h4 {
    color: var(--main-color);
    font-size:19px;
    padding-left: 30px;
}
.services .elements .one p {
    color:#777777;
    font-size: 16px;
    line-height: 32px;
    padding: 30px 20px;
}
/* End services  */