/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color : rgb(15 116 143 / 70%);
    --section-padding:100px;
}
/* End Variables */
/* Start Global Rules  */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
/* small screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium  screen */
@media (min-width:992px) {
    .container {
        width:970px;
    }
}
/* large screen */
@media (min-width:1200px) {
    .container {
        width:1170px;
    }
}

/* End Global Rules  */
/* Start Component */
.title {
    text-align: center;
    padding-bottom: 80px;
}
.title h3 {
    font-size: 40px;
    line-height: 46px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-transform:uppercase;

}
.title h3::before{
    content: "";
    position: absolute;
    width: 15px;
    height:15px;
    border: 2px solid black;
    border-radius: 50%;
    left:50%;
    bottom:-50px;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1;
}
.title h3::after{
    content: "";
    height:2px;
    width: 120px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom:-42px;
    transform: translateX(-50%);
    
}
.title p {
    padding-top:100px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 100px; 
    line-height: 30px;
    color: #777777;

}

/* End Component */
/* Start header  */
header {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 96px;

}
header .container::after {
    content: "";
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    left: 15px;
}
header .container .logo img {
    height: 40px;

}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav ul {
    display: flex;
}
header .container nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header .container nav a.active,
header .container nav a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    right:0px;
    top: 50%;
    transform: translateY(-50%);
}
header nav .toggle-menu {
    color:white;
    font-size: 25px;
}
@media (min-width:768px){
    header nav .toggle-menu {
        display: none;
    }
}
@media (max-width:767px) {
    header .container nav ul {
        display:none
    }
    header nav .toggle-menu:hover + ul {
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    }
    header .container nav li a {
        padding: 15px !important;
    }


}
/* End header  */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url("../imgs/Owl-Wallpaper-01-1920x1200-1.jpg");
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
}
.landing .txt {
    position: absolute;
    left: 0px;
    top: 50%;
    padding: 50px;
    width: 50%;
    background-color: var(--transparent-color);
    transform: translateY(-50%);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:767px) {
    .landing .txt {
        width:100%

    }
    .landing .txt .content {
        width:100%

    }
    .landing .change-background {
        display: none;
    }
}
.landing .txt .content {
    max-width: 500px;

}
.landing .txt h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: normal;
    margin-bottom: 20px;
}
.landing .txt p {
    font-size: 14px;
    line-height: 28px;

}
.landing .change-background {
    position:absolute;
    top: 50%;
    transform:translate(-50%);
    color: white;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    bottom:30px;
    transform: translateX(-50%);
    display: flex;

    
}
.landing .bullets li {
    width: 20px;
    height:20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;
    

}
.landing .bullets li.active {
    background-color: var(--main-color);
    border: none;

}
/* End Landing */
/* Start services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .elements {
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}
@media (max-width:767px) {
    .services .elements {
        display:block;
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }
    .services .elements .serv-box {
        margin-bottom: 100px;
       
    }
    .services .elements i {
        margin: -80px 50% 0;
        transform: translateX(75%);

    }
    
}
.services .elements .serv-box {
    position: relative;
}
.services .elements .serv-box i {
    position: absolute;
    left:-50px;
    top:0px;
    font-size: 48px;
}
.services .elements .serv-box h4 {
    color: var(--main-color);
    font-size:19px;
    padding-left: 30px;
}
.services .elements .serv-box p {
    color:#777777;
    font-size: 16px;
    line-height: 32px;
    padding: 30px 20px;
}
/* End services  */
/* Start Design */
.design {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.design .overlay {
    height: calc(100vh - 20px);
    width: 100%;
    background-image: url(../imgs/Space-Background-Image-3.jpg);
    position: relative;
}
.design .overlay .overlap {
    height: calc(100vh - 20px);
    width: 100%;
    background-color: rgba(0, 0, 0,0.7);

}
.design .overlay .overlap img {
    position: absolute;
    left: 100px;
    bottom: -70px;
    

}
.design .overlay .overlap .box-info {
    position: absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
    height: 60%;
    background-color: var(--transparent-color);
}
.design .overlay .overlap .box-info h4 {
    padding: 40px 30px;
    font-size: 26px;
    font-weight: 400;
    color: white;
}
.design .overlay .overlap .box-info li {
    display: flex;
    color: white;
    padding: 10px 40px;
}
.design .overlay .overlap .box-info li i {
    padding-right: 20px;
}
@media (max-width:767px) {
    .design .overlay .overlap .box-info {
        width: 100%;
    }
    .design .overlay .overlap img {
        display: none;
    }

}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding); 
    padding-bottom: var(--section-padding);
}
.portfolio .navig ul {
    display:flex;
    justify-content: center; 
}
.portfolio .navig ul li {
    margin-left: 20px;
}
.portfolio .navig ul .active {
    color: white;
    position: relative;
}
.portfolio .navig ul .active::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    left:-10px;
    bottom:-10px;
    z-index: -1;
}
.portfolio .images {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 60px;
}
@media (max-width:767px) {
    .portfolio .images {
        display:block;
    }

}
@media (max-width:1199px) {
    .portfolio .images {
        grid-template-columns: auto auto;
    }

}
.portfolio .images .image-box img {
   max-width: 100%;

}
.images .image-box {
    position: relative;
    overflow: hidden;
}
 .images .image-box .capt {
    position: absolute;
    background-color: white;
    width:100%;
    height:40%;
    bottom:-100%;
    left: 0px;
    transition: 0.3s;
    padding: 15px 15px;
}
.portfolio .images .image-box:hover .capt {
   bottom:0;

}
.portfolio .images .image-box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .images .image-box .capt h5 {
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;

}
.portfolio .images .image-box .capt p {
    font-style: normal;
    font-size: 16px;
    padding-top: 15px;
    color: var(--main-color);
}
.portfolio .more {
    display: block;
    padding-top: 20px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 15px 20px ;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
/* End Portfolio */
/* Start video */
.video {
        position: relative;
}
.video::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
}
.video video {
    width: 100%;
}
.video .textoo {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
    padding: 50px;
}

.video .textoo h2 {
    margin: 0 0 30px;
    font-weight: normal;
}
.video .textoo p {
    margin-bottom: 30px;
}
.video .textoo button {
    background-color: black;
    color: white;
    margin-top: 30px;
    padding:10px 20px;
    border: none; 
}
/* end video  */
/* Start about */
.about {
    padding-top: var(--section-padding); 
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width:767px) {
    .about img {
        bottom:-60px;
        margin-top:-60px;
    }
}

/* End about */
/* Start statistics */
.statistics { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../imgs/Purple-Triangle-Mosaic-Background-Graphics-4331089-1.jpg);
    background-size: cover;
    position: relative;
}
.statistics::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.statistics .stat-box { 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60%;
    background-color: var(--transparent-color);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-around;
    align-items: center;
}
.statistics .stat-box .coffee {
    color: white;
    text-align: center;
    padding: 50px;
}
.statistics .stat-box .coffee i {
    font-size: medium;
    padding-bottom: 40px;
    position: relative;
}
.statistics .stat-box .coffee i::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right:-15px;
    top: -15px;
    z-index: -1;
}
.statistics .stat-box .number {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}
@media (max-width:992px) {
    .statistics .stat-box {
        grid-template-columns: repeat(2, 50%);
    }
    .statistics .stat-box {
        height: 80%;
    }
}
@media (max-width:767px) {
    .statistics .stat-box {
        grid-template-columns: 100%;
    }
    .statistics .stat-box {
        height: 90%;
    }
}
/* end statistics */
/* start test-skills */
.test-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.test-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
@media (min-width:992px)  {
    .test-skills .container > div {
         flex-basis: 45%; 
    }
   
}
.test-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
}
.test-skills .container > div > p {
    margin-bottom: 60px;
    color: #777777;
    line-height: 2;
    text-align: center;
}
.test-skills .container .testimonial .test1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.test-skills .container .testimonial .test1 img {
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media  (max-width:767px) {
    .test-skills .container .testimonial .test1 {
        flex-direction: column;
        text-align: center;

    }
    .test-skills .container .testimonial .test1 img {
        margin:  0 auto 20px;

    }
}
.test-skills .container .testimonial .test1 .text1 {
    line-height: 30px;
    align-items: center;
    border-bottom: solid 2px #777777;
}
.test-skills .container .testimonial .test1 p {
   text-align: right;
   margin-bottom: 10px;
   color: #777777;
   font-size: 14px;
}
.test-skills .container .testimonial .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;   

}
.test-skills .container .testimonial .bullets  li {
    height:14px;
    width: 14px;
    border-radius: 50%;
    border: solid 1px #aaa ;
    margin-right: 10px;
    
}
.test-skills .container .testimonial .bullets  .active {
    background-color: var(--main-color);
    border: none;
}
.test-skills .skills .prog-holder {
margin-bottom: 40px;

}
.test-skills .skills .prog-holder h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;

}
.test-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;

}

.test-skills .skills .prog-holder .prog span {
    height: 100%;
    background-color: var(--main-color);
    position: relative;
    display: block;

}
.test-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    width: 40px;
    border-radius: 20%;
    background-color: black;
    position: absolute;
    right: -20px;
    top:-30px;
    color: white;
    text-align: center;
    padding: 4px 0px;

}
.test-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    right: -5px;
    top: -5px;
    border: 5px solid;
    border-color: black transparent transparent transparent;


}


/* END test-skills */
/* start quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/Space-Background-Image-3.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.quote  .container {
    position: relative;
}
.quote div {
    font-size: 30px;
    margin-bottom: 20px;
    display:block;

}
/* end quuote */
/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.prices {
    display: flex;
    justify-content: space-around;
   
}
.box-one {
    width:20%;
    background-color: #a2a2a2;
    text-align: center;
    border-top: solid 2px var(--main-color);
}
.pricing .box-one h4 {
    font-size: 25px;
    font-weight: normal;
    text-transform: capitalize;
}

/* end pricing */

